<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1> 
  <form name="form" #form="ngForm" (ngSubmit)="auth(form)">
    <input type="text" name="username" placeholder="Enter username" [(ngModel)]="name">
    You entered {{name}}
    <br>
    <input type="password" name="password" placeholder="Enter password" [(ngModel)]="password">
    You entered {{password}}
    <button type="submit">Submit Details</button>
  </form>
</div>


